# The WordPress.com site identifier used for the public REST API.
# For a mapped custom domain, this is usually just the domain itself.
# If that doesn't work, use your *.wordpress.com address instead
# (find it in WordPress.com > My Site > Settings > General).
WP_SITE=hunchet.blog
